body{
  width: 100%;
  height: 100%;
  background-color: blue;
  margin: 10vw;
}

h2{
  text-align: center;
  font-variant: small-caps;
}

div{
  align: center;
}

.form_button{
  height: 4vw;
  width: 10vw;
  margin-left: 2vw;
  font-size: 2vw;
}

.inputbox{
  height: 4vw;
  width: 17vw;
  font-size: 2vw;
}
